*{
    margin: 0px;
    padding: 0px;
}

/* General */

body{
    font-family: "Exo 2", sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    /* border: 5px black solid; */
}

/* Nav Bar */

.header{
    margin:1vw;
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    height: 12vh;
}

.name{
    margin-left: 5%;
    font-weight: bolder;
    font-size: 40px;
    align-content: space-around;
}

.name:hover,
.intro:hover,
.about_name:hover,
.role:hover{
    cursor: default;
}

.nav-links{
    list-style: none;
    gap: 10%;
    margin-left: auto;
    margin-right: 3%;
    align-content: space-around;    
}

/* Hamburger nav */

.hamburger{
    display: none;
    margin:5vw;
    width: 85%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    height: 12vh;
    
}

.ham-menu{
    position: relative;
    display: inline-block;
}

.ham-name{
    /* padding: 4vh; */
    font-weight: bolder;
    font-size: 40px;
}

.ham-icon{
    /* padding: 4vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 35px;
    cursor: pointer;
}

.ham-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.ham-links{
    position: absolute;
    top: 60%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.ham-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.ham-links.open{
    max-height: 300px;
}

.ham-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,8px);
}

.ham-icon.open span:nth-child(2){
    opacity: 0;
}

.ham-icon.open span:last-child{
    transform: rotate(-45deg) translate(11px,-9px)
}

.ham-icon span:first-child{
    transform: none;
}

.ham-icon span:nth-child(2){
    transform: none;
}

.ham-icon span:last-child{
    transform: none;
}
/* Intro */



.nav-links a{
    margin: 10px;
    font-size: 30px;
    color: black;
    text-decoration:none;
    font-weight: 500;
    transition: all 300ms ease;
}

.nav-links .a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

#profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 78vh;
    margin-top: 8vh;
}

.pic{
    align-content: center;  
}

#pic{
    height:500px;
    width: 500px;
    object-fit: cover;
    clip-path: circle(45.0% at 50% 50%);
}

.about1{
    text-align: center;
    display: flex;
    gap: 3%;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.intro{
    font-size: 20px;
    font-weight: 500;
}

.about_name{
    font-size: 50px;
    font-weight: 600;
}

.role{
    color: rgb(31, 31, 31);
    font-size: 35px;
    font-weight: 500;
}

.buttons{
    margin-top: 3%;
    display: flex;
    justify-content:center;
    gap: 3%;
    height: 9vh;
}

.resume{
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px black solid;
    border-radius: 100px;
    font-weight: 600;   
    font-size: 25px;
    width: 14vw;
    transition: all 300ms ease;
}

.resume:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.contactinfo{
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px black solid;
    border-radius: 100px;
    font-weight: 600;   
    font-size: 25px;
    width: 14vw;
    transition: all 300ms ease;
}

.contactinfo:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#git,#linkedin{
    height: 40px;
    width: 40px;
    object-fit:cover;
    clip-path: circle(47.2% at 50% 50%);
}

#git{
    margin-left:2% ;
}

.text_p1{
    font-size:20px;
    text-align: center;
    font-weight: 500;
}

.title{
    margin-top: 1%;
    font-size:65px;
    text-align: center;
    font-weight: 700;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
    gap: 80px;
}

.skills{
    padding: 25px;
    border: 2px black solid;
    border-radius: 70px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20vw;
    height: 25vh;
}

p#skill{
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
}

.skills2{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction:row;
}

.skills2 span{
    border: 2px lightgray solid;
    border-radius: 18px;
    background-color: lightgray;
    padding: 8px;
    font-weight: 700;
}

.skills img,
.education img{
    height: 60px;
    width: 60px;
}

.education{
    padding: 25px;
    border: 2px black solid;
    border-radius: 70px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    height: 25vh;
}

#edu{
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
}

.edu2{
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
    text-align: center;
}

.edu3{
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
    text-align: center;
}

.edu4{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 25vh;
    margin-left: 22%;
    margin-top: 2%;
}

.edu5{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: rgb(23, 22, 22);
}

#arrow{
    height: 40px;
    width: 40px;
    float: right;
    padding: 30px;
}

.text_p1,
.title,
.skills2 span,
#skill,
#edu,
.edu2,
.edu3,
.edu5{
    cursor:default;
}